@import 'default.scss';

small.license {
    .copyright {
        color: #FB8C00;
    }
    
    .credits {
        color: #00897B;
    }
    
    .permissions {
        color: #7CB342;
    }
    
    .conditions {
        color: #1E88E5;
    }
    
    .warranty {
        color: #D81B60;
    }
    
    .reserve-name {
        color: #F4511E;
    }
}
